<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Personal-Api</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="app.js"></script>
    
</head>
<body>
    <h1>Under Construction</h1>
    <form method="post" action="/addname">
    <label>Enter Your Name</label><br>
    <input type="text" name="firstName" placeholder="Enter first name..." required>
    <input type="text" name="lastName" placeholder="Enter last name..." required>
    <input type="submit" value="Add Name">
    </form>
</body>
</html>